body {
    background-color: #222733;
}

.header {
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 1001;
    top: 0;
    align-items: center;
    background-color: #222733;
    color: #ffffff;
}

.title {
    font-size: 2rem;
    vertical-align: middle;
    padding-left: 10px;
}

.navbar-custom a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    align-content: flex-end;
}

.navbar-custom a:hover {
    background-color: red;
}

.border-seperator {
    border-bottom: 1px solid #8f8f8f;
    width: 100%;
}

.body-container {
    margin-top: 60px;
    height: 100%;
    background-color: #222733;
}

.stats-header {
    font-size: 20px;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    padding-left: 20px;
    padding-top: 15px;
    height: 50px;
    color: white;
}

.kpi-container {
    margin: 0 -10px;
}

.kpi-card-container {
    padding: 10px;
}

.kpi-card {
    /* padding: 15px; */
    margin-bottom: 15px;
    height: 100px;
    background-color: #282D3B;
}

.kpi-header {
    padding-top: 5px;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}

.investment-overview {
    text-transform: uppercase;
    font-size: 20px;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 20px;
    margin-bottom: 20px;
    color: #ffffff;
}

.scroll-area-container {
    height: 470px;
    padding: 10px;
    overflow-y: scroll;
    background-color: #282D3B;
    color: #ffffff;
}

ul {
    text-align: left;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

li {
    text-align: left;
    list-style: none;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}

li:hover {
    background-color: #eee !important;
}

a {
    text-decoration: none !important;
    color: #ffffff;
}

.list-caption {
    font-size: 1.2rem;
}

.list-subcaption {
    padding-left: 20px;
    padding-top: 5px;
    font-size: 0.8rem;
}

.display-container {
    padding: 0 20px;
}

.chart-container {
    height: 470px;
    margin: 0 -5px;
    background-color: #282D3B;
}